:root {
  --main-color: #202020;
  --secondary-color: #00aeae;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #707070; */
  background-color: #ffffff;
  font-family: myFontMed;
}

.container {
  background-color: #101010;
  border-radius: 0.8em;
  padding: 1.5em;
  /* box-shadow: 2px 2px 5px #f0f0f0; */
  box-shadow: 2px 2px 5px var(--secondary-color);
}

/* header */
.title {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.title span {
  color: #00aeae;
}

.board-header {
  color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: var(--secondary-color);
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
  background-color: var(--main-color);
}

/* td {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  text-align: center;
  font-size: 5rem;
  cursor: pointer;
} */

.cell {
  width: 7em;
  height: 7em;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.historyBtns {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f0f0f0;
}

.prev {
  margin-top: 10px;
  border: 2px solid var(--secondary-color);
  padding: 0 0.5em;
  cursor: pointer;
}

.next {
  margin-top: 10px;
  border: 2px solid var(--secondary-color);
  padding: 0em 0.5em;
  cursor: pointer;
}

.X::before {
  content: '×';
  font-size: 7rem;
  color: #202020;
}

.O::before {
  content: '○';
  font-size: 7rem;
  color: #00aeae;
}

.prev:hover,
.next:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--main-color);
}

@font-face {
  font-family: myFontLight;
  src: url(./fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: myFontReg;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: myFontMed;
  src: url(./fonts/Montserrat-Medium.ttf);
}

@media only screen and (max-width: 780px) {
  body {
    display: flex;
    flex-direction: column;
  }

  /* .historyBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0%;
  } */
}

/* dark mode */
.darkmode_container {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.label {
  position: relative;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  cursor: pointer;
}

.fa-moon-o {
  color: #f1c40f;
}

.fa-sun-o {
  color: #f39c12;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #fff;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.dark {
  background-color: #292c35;
  color: var(--secondary-color);
}
